#first {

    border: 2px dotted black;
    padding: 20px;
    background: lightskyblue;
    background-clip: padding-box;
}

#second {
 
    border: 2px dotted black;
    padding: 20px;
    background: lightskyblue;
    background-clip: padding-box;
}

